@font-face {
  font-family: VT323;
  src: url(VT323-Regular.ttf);
}
* {
  box-sizing: content-box;
}

.container {
  display: flex;
  justify-content: center;
  margin: 30px;
  background-color: #dddddd;
}

#calculator {
  border: 5px solid #555555;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffe4c4;
}

div {
  background-color: #ffeecc;
}

#screen, #screenClear {
  font-family: "VT323", monospace, monospace;
  height: 40px;
  font-size: 1.8rem;
  border: 2px solid #777777;
  border-radius: 5px;
  
  background-color: #dddddd;
  margin: 5px
}
#screenClear {
  display: none;
}

.clrButton {
  width: 35px;
  height: 20px;
  border-radius: 5px;
}

button {
  width: 50px;
  height: 40px;
  border: 2px solid #777777;
  border-radius: 5px;
  background-color: #dddddd;
  transition: background-color .3s ease;
  margin: 3px;
  font-size: 10px;
  padding: 0;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

button:hover {
  background-color: #f8e4cb;
  border: 2px solid #555555;
}

